@import "variables";

body {
	margin: 0px;
}

.header {
	@include cambiarFondoYLetra($fondoHeader, $letraHeader);
	@include establecerGrid();

	h1 {
		font-size: 65px;
	}

	.header__zonaTituloLogo {
		grid-column: 3/11;
		@include tipografiaTitulos();
	}
}

.nav-bar {
	@include cambiarFondoYLetra($fondoNav, $letraNav);

	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 2px solid $colorBorde;
	padding: 2em;

	ul {
		list-style: none;
		display: flex;

		li {
			padding: 0 1em;

			a {
				text-decoration: none;
				color: inherit;
				padding: 1em;

				&:hover {
					border-bottom: 4px solid $BordeElementoNav;
				}
			}

			.a__active {
				border-bottom: 4px solid $BordeElementoNav;
			}
		}
	}
}

main {
	@include cambiarFondoYLetra($fondo, $colorLetra);
	@include establecerGrid();

	.main__content {
		display: flex;
		flex-direction: column;
		grid-column: 4/11;

		.main__content--lista {
			a {
				@include estiloEnlace;
			}

			li {
				padding: 8px;
				@include tipografiaTextos();
			}
		}

		#main__publicacion--título {
			font-size: 3em;
			margin-bottom: 0;
		}
	}
}

.lista__titulo {
	@include tipografiaTitulos();
}

footer {
	@include establecerGrid();
	background-color: $fondoFooter;
	img {
		grid-column: 3/11;
	}
	p {
		grid-column: 3/11;
		color: $letraFooter;
	}
}
