<form class="main__formularioContacto" action="">

    <div role="region" class="formularioContacto__groupNombre">
    <label for="nombre" id="label_nombre" aria-label="input_nombre">Nombre</label>
    <input type="text" name="input_nombre" id="input_nombre" aria-labelledby="label_nombre" aria-required="false">
    </div>
    <div role="region" class="formularioContacto__groupPasswd">
    <label for="input_password" id="label_password" aria-label="input_password">Password</label>
    <input type="password" id="input_password" name="input_password" aria-labelledby="label_password" required aria-required="true">



    <button type="submit" class="formularioContacto__groupBotones">Enviar</button>




</form>