/*
Colores Principales.
#FF9900
#FF6600
#009900

Colores Secundarios
#330033
#330000
#FFFFFF
#000000

Tipografias
1. zombie-holocaust-font.html --> Nombre empresa
2. Roboto                     --> Titulos
3. noto Serif Japanese        --> Textos

*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Roboto&display=swap');
@font-face {
	font-family: "ZombieHolocaust";
	src: url("Fonts/Zombie_Holocaust.ttf") format("truetype");
}

* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

h1,h2,h3,h4,h5,h6,a{
    font-family: 'Roboto', sans-serif;
}

p, span, div{
    font-family: 'Noto Serif JP';
}

#tituloPagina{
    font-family: 'ZombieHolocaust', sans-serif;
}

.header {

    height: 90px;
    display: flex;
    justify-content: space-around;
}

.header__zonaTitulo {
    height: 100%;
    width: 20%;

    background-color: #ffffff;

    border-radius: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    transition: 0.4s linear;
}

.header__zonaTitulo:hover { /* Hacemos uso de la pseudo clase hover*/
    background-color: #FF6600;
    transform: scale(1.05);
    font-size: 1.2em; /*Em es una medida que tomo como referencia el font-size del html*/
}

#zonaTitulo__logo img {
    width: 60px;
    height: auto;
}

#zonaTitulo__logo:hover {
}

.header__zonaNavegacion {
    height: 100%;
    width: 40%;

    background-color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /*Establecemos el 'aire' entre dichos elementos */
}

a {
    text-decoration: none; /*Para quitar el underline*/
    color: #330033;
}

.zonaNavegacion__div{

    padding: 5px;
    transition: 0.1s ease-out;
}

.zonaNavegacion__div:hover {

    border-bottom: 3px solid #FF6600;
    border-radius: 5px;

}

.zonaNavegacion__div h3 {
    margin: 0;
}