<!-- html que incluye lightbox para imagenes-->

<section class="main__lightbox-proyectos">
    <div class="lightbox-proyectos__div-img">
        <img class="div-img__img" src="./assets/images/1.jpg" alt="">
    </div>

    <div class="lightbox-proyectos__div-img">
        <img class="div-img__img" src="./assets/images/2.jpg" alt="">
    </div>

    <div class="lightbox-proyectos__div-img">
        <img class="div-img__img" src="./assets/images/3.jpg" alt="">
    </div>
</section>

<section class="main__lightbox-proyecto-selected">
    <button class="lightbox-proyecto-selected__boton">Cerrar</button>
    <div class="lightbox-proyectos-selected__div-img">
        <img class="div-img__img" src="./assets/images/1.jpg" alt="">
    </div>
</section>