<div class="main__picture">
    <picture>
        <source
            type="image/webp"
            srcset="./assets/images/fondo_landing_1-1.webp"
        />
        <source type="image/jpg" srcset="./assets/images/fondo_landing_1.jpg" />
        <img
            class="img"
            src="./assets/images/fondo_landing_1.png"
            alt="prueba"
            srcset="./assets/images/fondo_landing_1.png"
        />
    </picture>
</div>

<section class="main__tabs">
    <div role="region" class="tabs__listaBotones">
        <div tabindex="0" role="button" class="listaBotones__botonTab activo">
            Quienes somos
        </div>
        <div tabindex="0" role="button" class="listaBotones__botonTab">
            Nuestra mision
        </div>
        <div tabindex="0" role="button" class="listaBotones__botonTab">
            Nuestros principios
        </div>
    </div>

    <div role="region" class="tabs__contenedorTexto">
        <div class="contenedorTexto__bloque activo">
            <h1>Bienvenidos a UbriWeb</h1>

            <p>
                En UbriWeb, creemos que cada idea merece tener su propio espacio
                en la web. Somos un equipo apasionado de diseñadores,
                desarrolladores y creadores de contenido que se dedican a hacer
                que tu presencia en línea sea única y efectiva.
            </p>
            <p>
                Nuestra misión es proporcionar a nuestros clientes las
                herramientas y el apoyo necesarios para que sus proyectos cobren
                vida en internet. Ya sea que estés buscando lanzar un sitio web
                personal, un blog, una tienda en línea o una página corporativa,
                estamos aquí para ayudarte en cada paso del camino.
            </p>
            <p>
                Nos enorgullecemos de ofrecer soluciones web personalizadas que
                se adaptan a las necesidades específicas de cada cliente. Desde
                el diseño de interfaces intuitivas y atractivas hasta el
                desarrollo de funcionalidades avanzadas, nos esforzamos por
                superar las expectativas y entregar resultados excepcionales.
            </p>
            <p>
                En UbriWeb, entendemos que la presencia en línea es fundamental
                en el mundo moderno. Por eso, nos comprometemos a ofrecer
                servicios de alta calidad a precios asequibles, para que puedas
                llevar tu proyecto al siguiente nivel sin romper tu presupuesto.
            </p>
            <p>
                ¿Listo para empezar? Explora nuestros servicios y descubre cómo
                podemos ayudarte a construir tu presencia en línea de manera
                efectiva y profesional. En UbriWeb, estamos aquí para convertir
                tus ideas en realidad en la web.
            </p>
            <p>
                ¡Únete a nosotros y haz que tu presencia en línea destaque con
                UbriWeb!
            </p>
        </div>
        <div class="contenedorTexto__bloque">
            <h2>Nuestra mision</h2>
        </div>
        <div class="contenedorTexto__bloque">
            <h2>Nuestros principios</h2>
        </div>
    </div>
</section>
